source_up_if_exists

if [[ -z $(which helm) ]]; then
    echo "you need to install helm"
    echo "please go to https://helm.sh/docs/intro/install/"
fi

if [[ -z $(which helmfile) ]]; then
    echo "you need to install helmfile"
    echo "please go to https://helmfile.readthedocs.io/en/latest/#installation"
fi

if [[ -z $(which task) ]]; then
    echo "you need to install task"
    echo "please go to https://taskfile.dev/installation/"
fi