source_up_if_exists

if [[ -z $(which docker) ]]; then
    echo "you need to install docker"
    echo "please go to https://docs.docker.com/engine/install/"
fi

if [[ -z $(which kubectl) ]]; then
    echo "you need to install kubectl"
    echo "please go to https://kubernetes.io/releases/download/"
fi

if [[ -z $(which kind) ]]; then
    echo "you need to install kind"
    echo "please go to https://kind.sigs.k8s.io/docs/user/quick-start/#installation"
fi

if [[ -z $(which helm) ]]; then
    echo "you need to install helm"
    echo "please go to https://helm.sh/docs/intro/install/"
fi

if [[ -z $(which helmfile) ]]; then
    echo "you need to install helmfile"
    echo "please go to https://helmfile.readthedocs.io/en/latest/#installation"
fi

if [[ -z $(which task) ]]; then
    echo "you need to install task"
    echo "please go to https://taskfile.dev/installation/"
fi